@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html {
    overflow: scroll;
    overflow-x: hidden;
    
    font-size: 1vw;
}
/* @media screen and (min-width:650px) {
    html{
    }
} */
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.wrapper{
    @apply w-[calc(100vw-4rem)] h-[calc(100vh-4rem)] ;
}
.section{
    @apply min-h-[calc(100vh-4rem)];
}
canvas{
    position: fixed;
    z-index: -1;
}
