@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&family=Source+Sans+Pro:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Source Sans Pro', sans-serif;
}
html {
    overflow: scroll;
    overflow-x: hidden;
    
    font-size: 1vw;
    scrollbar-width: none;
}
html > *{
    transition: color .5s;
}
.outline{
    transition: outline .5s;
}
/* @media screen and (min-width:650px) {
    html{
    }
} */
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.theme-btn{
    @apply -rotate-90 flex flex-row-reverse gap-2 items-center;
}
.box{
    @apply block w-4 h-4 border;
}
.wrapper{
    @apply w-[calc(100vw-4rem)] h-[calc(100vh-4rem)] ;
}
.section{
    @apply min-h-[calc(100vh-4rem)];
}
.project-item{
    @apply w-full h-96 sm:h-32 border-b border-black dark:border-white uppercase text-7xl sm:text-3xl flex items-center ;
}
.projects li{
    transition: opacity 0.5s;
}
.projects li:hover{
    opacity: 1 !important;
}
canvas{
    position: fixed;
    z-index: -1;
}
