@use '../abstract/variables' as *;
.hero {
    min-height: 100vh;
    h1 {
        color: $light;
        font-size: $font-2xl;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-35%, -40%);
        white-space: nowrap;
        font-weight: 500;
    }
    span {
        display: block;
    }
    span:nth-child(even) {
    transform: translateX(-1em);
    }
}