@use '../abstract/variables' as *;
@use '../utils/mixins' as *;
nav {
  width: 100%;
  color: $light;
  right: 1.5rem;
  top: 1.5rem;
  ul{
    @include flex(center,center,column);
    @include spaceY(1rem);
    margin-top: 3rem;
    overflow: hidden;
    li{
      transition: transform .5s ease-out;
      cursor: pointer;
    }
    &.hide{
      li{
        transition-timing-function:ease-in;
        transform: translateX(-100vw) ;
      }
    }
    
    @media screen and (min-width:550px) {
      @include flex(center,end,row);
      @include spaceY(0rem);
      @include spaceX(1rem);
      margin-right: 3rem;
      &.hide{
        li{
          transform: none;
        }
      }
    }
  }
  span{
    position: fixed;
    width: 28px;
    height: 2px;
    border-radius: 10px;
    background-color: white;
    right: 3rem;
    top: 3rem;
    &::before{
      content:"";
      position: fixed;
      width: 32px;
      height: 2px;
      border-radius: 10px;
      background-color: white;
      right: 3rem;
      top: 3.3rem;
    }
    @media screen and (min-width:550px) {
      display: none;
    }
  }
}
