@use '../abstract/variables' as *;
nav {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  width: calc(100vw - 3rem);
  color: $light;
  z-index: -1;
  ul{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-inline: 2rem;

    > *+*{
        margin-left: 1rem;
    }
    li{
        margin-top: 1rem;
        cursor: pointer;
        font-size: $font-md;
    }
  }
}
